@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: 'Netflix Sans';
    src: url('./assets/fonts/NetflixSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('./assets/fonts/NetflixSans-Medium.otf') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('./assets/fonts/NetflixSans-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Netflix Sans';
    src: url('./assets/fonts/NetflixSans-Light.otf') format('opentype');
    font-weight: 300;
}


@layer theme {
    @theme {
        --font-main: 'Netflix Sans', serif;
        --text-10: 10px;
        --animate-slide-down: slide-down 0.3s ease forwards;
        @keyframes slide-down {
            0% {
                opacity: 0;
                transform: translateY(-10px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}




body {
    font-family: 'Netflix Sans';
}

