server:
  port: 8087
  servlet:
    context-path: /notification

spring:
  application:
    name: notification-service

springdoc:
  api-docs:
    enabled: true
    path: /v1/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui
    operations-sorter: method

openapi:
  service:
    api-docs: notification-service
    server: http://localhost:8087/notification
    title: Notification Service
    version: 1.0.0

