server:
  port: 8085
  servlet:
    context-path: /booking

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:postgresql://localhost:5432/cinemeow_booking
    username: postgres
    password: sa123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    enabled: true
    path: /v1/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui
    operations-sorter: method

openapi:
  service:
    api-docs: booking-service
    server: http://localhost:8085/booking
    title: Booking Service
    version: 1.0.0

