server:
  port: 8083
  servlet:
    context-path: /showtime

spring:
  application:
    name: showtime-service
  datasource:
    url: jdbc:postgresql://localhost:5432/cinemeow_showtime
    username: postgres
    password: sa123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  cache:
    type: redis
    redis:
      time-to-live: 3600000
      cache-null-values: false
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: -1ms
        shutdown-timeout: 100ms
      connect-timeout: 2000ms
      timeout: 1000ms

springdoc:
  api-docs:
    enabled: true
    path: /v1/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui
    operations-sorter: method

openapi:
  service:
    api-docs: showtime-service
    server: http://localhost:8083/showtime
    title: Showtime Service
    version: 1.0.0

app:
  services:
    cinema-service: http://localhost:8084/cinema
    movie-service: http://localhost:8082/movie
