server:
  port: 8083
  servlet:
    context-path: /showtime

spring:
  application:
    name: showtime-service
  datasource:
    url: jdbc:postgresql://localhost:5432/cinemeow_showtime
    username: postgres
    password: sa123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    enabled: true
    path: /v1/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui
    operations-sorter: method

openapi:
  service:
    api-docs: showtime-service
    server: http://localhost:8083/showtime
    title: Showtime Service
    version: 1.0.0
