server:
  port: 8081
  servlet:
    context-path: /profile

spring:
  application:
    name: profile-service
  datasource:
    url: jdbc:postgresql://localhost:5432/cinemeow_profile
    username: postgres
    password: sa123
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    enabled: true
    path: /v1/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui
    operations-sorter: method

openapi:
  service:
    api-docs: profile-service
    server: http://localhost:8081/profile
    title: Profile Service
    version: 1.0.0